<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Eduardo Quirino</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
</head>
<body>  
  <h1>Quirino</h1>
  <h2>Links</h2>
  <ul>
    <li><a href="https://www.aldaily.com/">Arts & Letters Daily</a></li>
    <li><a href="https://quillette.com/">Quillette</a></li>
    <li><a href="https://www.waitbutwhy.com/">Wait But Why</a></li>
    <li><a href="https://www.newyorker.com/">The New Yorker</a></li>
    <li><a href="https://lareviewofbooks.org/">LA Review of Books</a></li>
    <li><a href="https://longreads.com/">Longreads</a></li>
    <li><a href="https://www.3quarksdaily.com/">3 Quarks Daily</a></li>
    <li><a href="https://www.nybooks.com/">NY Review of Books</a></li>
    <li><a href="https://xkcd.com/">XKCD</a></li>
    <li><a href="https://www.smbc-comics.com/">Sunday Morning Breakfast Cereal</a></li>
  </ul>
  <style>
  body {
    padding: 100px;
  }

  h1 {
    font-size: 72pt;
    font-family: 'Playfair Display', serif;
  }

  h2 {
    font-size: 48pt;
    font-family: 'Playfair Display', serif;
  }

  ul {
    list-style-type: none;
  }

  a {
    font-size: 25pt;
  }
  </style>
</body>
</html>

